/* ========================================
   CONFIGURACIÓN GENERAL
======================================== */

html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    color:#263238;
    background:#fff;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

/* ========================================
   HEADER
======================================== */

header{
    position: relative;
    height:100vh;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.822),
            rgba(12, 11, 11, 0.432)
        ),
        url('https://fotos.perfil.com/2021/04/27/trim/1280/720/0427reconquista-1164433.jpg');

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* ========================================
   NAVBAR
======================================== */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:10;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 2%;
}

#categorias {
    scroll-margin-top: 80px;
}

.logo{
    width:300px;
}

.nav-links{
    display:flex;
    gap:30px;
    list-style:none;

    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.nav-links a,
.nav-links a:visited,
.nav-links a:hover,
.nav-links a:active{
    color:white;
    font-weight:500;
}

/* ========================================
   BUSCADOR
======================================== */

.search-container{
    display:flex;
    align-items:center;
    position:relative;
    margin-left:auto;
}


.search-btn{
    width:42px;
    height:42px;

    border:none;
    border-radius:50%;

    background:rgba(255,255,255,.15);
    color:white;

    cursor:pointer;

    backdrop-filter:blur(10px);
    transition:.3s;

    position:absolute;
    right:0;
}

.search-btn:hover{
    background:rgba(255,255,255,.25);
}

.search-input{
    position:absolute;
    right:50px;

    width:0;
    opacity:0;

    border:none;
    outline:none;

    padding:10px 0;

    border-radius:25px;

    background:rgba(255,255,255,.15);
    color:white;

    backdrop-filter:blur(10px);

    transition:all .35s ease;
}

.search-input::placeholder{
    color:rgba(255,255,255,.8);
}

/* ========================================
   BOTONES
======================================== */

.btn-primary{
    display:inline-block;

    background:#00ACC1;
    color:white;

    padding:14px 30px;
    border-radius:50px;

    transition:.3s;
}

.btn-primary:hover{
    transform:translateY(-3px);
}

.btn-admin{
    background:#2E7D32;
    color:white;

    padding:10px 22px;
    border-radius:30px;

    margin-left:10px;
}

/* ========================================
   HERO
======================================== */

.hero{
    height:100vh;
    scroll-snap-align: start;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-content{
    color:white;
    max-width:700px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
}

/* ========================================
   CATEGORÍAS
======================================== */

.categorias{
    padding:50px 5% 80px;
}

.categorias h2{
    text-align:center;
    font-size:3rem;
    font-weight:300;
    margin-bottom:60px;
}

.categorias h2 span{
    color:#2E7D32;
    font-weight:700;
}

/* ========================================
   CARDS
======================================== */

.cards-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:30px;

    max-width:1400px;
    margin:0 auto;
}

.cards-grid > a,
.cards-grid > a:visited{
    color:#263238;
}

.card{
    background:white;

    border-radius:20px;
    overflow:hidden;

    box-shadow:
        0 10px 25px rgba(0,0,0,.08);

    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    height:150px;
    object-fit:cover;
}

.card h3{
    margin:15px;
}

.card p{
    margin:0 15px 20px;
}

/* ========================================
   EVENTOS
======================================== */

.eventos{
    padding:100px 5%;
    background:#f5f5f5;
}

.eventos h2{
    text-align:center;
    font-size:3rem;
    font-weight:300;

    margin-bottom:60px;
}

.eventos h2 span{
    color:#2E7D32;
    font-weight:700;
}

/* ========================================
   SLIDER
======================================== */

.slider-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
}

.viewport{
    width:900px;
    overflow:hidden;
}

.slider{
    display:flex;

    transition:
    transform .8s cubic-bezier(
        0.22,
        1,
        0.36,
        1
    );
}

.slide{
    flex:0 0 300px;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;
}

.slide img{
    max-width:220px;
    height:150px;

    object-fit:contain;

    transition:.3s;
}

.slide img:hover{
    transform:scale(1.05);
}

.slider-btn{
    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    background:white;

    font-size:24px;
    cursor:pointer;

    box-shadow:
        0 5px 15px rgba(0,0,0,.15);

    transition:.3s;
}

.slider-btn:hover{
    transform:scale(1.1);
}

/* ========================================
   PRESTADORES
======================================== */

.prestador-banner{
    background:#408a43;
    color:white;

    padding:80px 8%;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* ========================================
   FOOTER
======================================== */

footer {
    background: #ffffff;
    color: white;
    padding: 60px 20px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    text-align: center;
}

.footer-contacto h3 {
    color:black;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-iconos {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-iconos a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #2E7D32;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    transition: .3s;
}

.footer-iconos a:hover {
    background: #388E3C;
    transform: translateY(-3px);
}

.footer-logo {
    width: 220px;
}

.footer-copy {
    font-size: .85rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer-wave {
    position: relative;
    height: 80px;
    background: transparent;
    overflow: hidden;
}

.footer-wave div {
    position: absolute;
    width: 120%;
    left: -10%;
    height: 100%;
}

.wave-1 {
    background: #a5d6a7;
    transform: skewY(-2deg);
    transform-origin: top left;
    top: 0;
}

.wave-2 {
    background: #66bb6a;
    transform: skewY(-2.8deg);
    transform-origin: top left;
    top: 10px;
}

.wave-3 {
    background: #2E7D32;
    transform: skewY(-3.5deg);
    transform-origin: top left;
    top: 20px;
}


.menu-toggle{
    position:relative;
    z-index:1001;
}
    

/* ========================================
   RESPONSIVE
======================================== */

@media(max-width:1000px){

    .cards-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .viewport{
        width:600px;
    }

}
.menu-toggle{
    display:none;
}

.hamburger{
    display:none;
}
.btn-admin-mobile{
    display: inline-block;
}

.mobile-prestador{
    display:none;
}

 @media (max-width: 992px){

    .mobile-prestador{
    display:block;
    }

    .search-container{
        margin-left:auto;
        margin-right:50px; /* deja lugar para la hamburguesa */
    }
    @media (max-width:992px){

    .search-input{
        right:45px;
        max-width:120px;
    }

    }
    @media (max-width:992px){

    .search-btn{
        width:40px;
        height:40px;
    }

    }
    
    .btn-admin-mobile{
        background:#2E7D32;
        color:white;
        padding:12px 25px;
        border-radius:30px;
        display:inline-block;
    }

    .mobile-prestador a{
    color:white;
    font-weight:600;
    font-size:1.1rem;
    }

    .btn-admin{
        display:none;
    }


    .hamburger{
        display:block;
        position:fixed;
        top:15px;
        right:20px;
        z-index:9999;
        background:none;
        border:none;
        color:white;
        font-size:2rem;
        cursor: pointer;
    }

    .navbar{
       display: flex;
       align-items: center;
    }

    .nav-links{
        position:fixed;

        top:0;
        left:100%;

        width:100vw;
        height:100vh;

        margin:0;
        padding:0;

        background:#111;

        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

        gap:30px;

        transform:none;

        transition:left .3s ease;

        z-index:1500;
    }

    .nav-links.active{
        left:0;
    }
    .logo{
        width: 180px;
    }
}



@media(max-width:700px){

    .cards-grid{
        grid-template-columns:1fr;
    }

    .viewport{
        width:300px;
    }

}


